.user-profile-tabs * {
    box-sizing: border-box;
}
.user-profile-tabs {
    margin: 1.5em 0 0;
    display: flex;
    border: solid 1px #dcdcde;
    background-color: rgba(255, 255, 255, 0.8);
}
.user-profile-tabs .tab-links {
    color: #000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}
.user-profile-tabs .tab-links a {
    display: block;
    color: inherit;
    width: 100%;
    padding: 1em;
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.3s;
    border-style: solid;
    border-width: 0px;
    border-color: #72aee6;
}
.user-profile-tabs .tab-links a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.user-profile-tabs .tab-links a.active {
    background-color: rgba(255, 255, 255, 0.8);
    border-width: 0 0 0 2px;
}
.user-profile-tabs .tab-links a:focus {
    box-shadow: 0 0;
}
.user-profile-tabs .tabs {
    flex: 1;
    position: relative;
}
.user-profile-tabs .tabs .tab {
    display: block;
    position: absolute;
    width: 100%;
    padding: 1em 1em 2em 1.5em;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
}
.user-profile-tabs .tabs .tab.active {
    opacity: 1;
    pointer-events: all;
}

#your-profile {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}
#your-profile p.submit {
    display: block;
    margin-top: 0;
    text-align: right;
    padding: 1em;
    border-style: solid;
    border-width: 0 1px 1px;
    border-color: #dcdcde;
    background-color: rgba(255, 255, 255, 0.8);
}
